body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}
#header {
    background-color: #35424a;
    border-bottom: 5px solid coral;
}
#header h1{
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}
#header .logo{
    color:coral;
    display: inline-block;
}
.messi{
    float:right;
    display: inline;
}
    .messi li a{
        color: #fff;
        text-decoration: none;
        font-family: sans-serif;
        padding: 25px 15px;
        display: inline-block;
        list-style-type: none;
    }
    .messi li a:hover{
        color: coral;
    }
.container{
    width: 70%;
    margin: auto;
}
#banner {
    height:60vh;
    background-image: url(qS8kxB4UzmXDXthOVxayklKN6jG8cQin.jpg );
    background-size: cover;
    width: 1600px;
    height:700px;
    background-position: center -1200px;
    text-align: center;
    color:white;
    font-family: sans-serif;
}
#banner h1 {
    font-size: 56px;
    margin-bottom: 20px;
    padding-top: 130px;
}
.messi{
    list-style-type: none;
    display: flex;

}
#Ronaldo{
    background-color: #35424a;
    color: white;
    font-family: sans-serif;
    padding: 20px 0;
    display:inline-block ;
    width: 100%;
}
#Ronaldo .left {
    float: left;
    display: inline-block;
}
#Ronaldo .right {
    float: right;
}
#Ronaldo input{
    padding: 5px;
}
.suii {
    padding: 7px 15px;
    border: none;
    background-color: coral;
    color: white;
    margin-left: 15px ;
}
.messi{
    color:#fff;
    padding: 7px 15px;
    border: none;
    color:#fff;
    margin-left: 15px ;
}